<ion-view title="About NGO" id="page5" style="background-color:#79A1DD;">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/AWrkyFBfQJGvwl7YzybO_images-12.jpeg" width="100%" height="auto">
        </div>
        <div id="aboutNGO-markdown1" style="color:#000000;">
            <p>About NGO</p>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="menu.nGONeeds" id="aboutNGO-button3" style="left:-10px;font-weight:600;color:#050505;font-size:14px;border-radius:100px 100px 100px 100px;" class="button button-energized  button-full icon ion-social-dropbox">Our Needs</a>
        </div>
    </ion-content>
</ion-view>