<ion-view title="NGO Needs" id="page4" style="background-color:#79A1DD;">
    <ion-content padding="true" class="has-header">
        <!--<a style="display:block;" ui-sref="menu.nGONeeds">
            <div style="text-align:center;">
                <img src="img/clothes.jpg" width="100%" height="auto">
            </div>
        </a>
        <div style="text-align:center;">
            <img src="img/bedsheets.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/books.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/toys.jpg" width="100%" height="auto">
        </div>-->
        <!--<ion-gallery ion-gallery-items="items"></ion-gallery>-->
        <ion-item class="row row-center" ng-repeat="row in items"  ng-if="$index % 2 === 0" >
            <div class="col col-50 col-center item item-image" ng-if="$index < items.length"  >
                     <label class="subdued dark">{{items[$index]._id.catg}}</label>
                    
                <div class="row" ng-click="showNGONeeds(items[$index]._id.catg,items[$index].items)" style="display:block;">
                    <img data-ng-src="{{ items[$index]._id.catg_img_src}}" err-SRC="img/default.jpg">
                </div>
            </div>
            <div class="col col-50 col-center item item-image" ng-if="$index+1 < items.length" >
                    <label class="subdued " ng-click=""> 
                        <label class="subdued dark">{{items[$index+1]._id.catg}}</label>
                    </label>
                <div class="row" ng-click="showNGONeeds(items[$index+1]._id.catg,items[$index+1].items)" style="display:block;">
                  <img data-ng-src="{{ items[$index+1]._id.catg_img_src}}" err-SRC="img/default.jpg">
                </div>
            </div> 
          </ion-item>
          
        <!--<div id="Gallery">
            <div ng-repeat="image in items" class="gallery-item">
                <a href="{{image}}">
                    <img ng-src="{{image.src}}" alt="{{image}} {{$index}}"/>
                </a>
            </div>
        </div>-->
    </ion-content>
</ion-view>